<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Человек</title>
</head>
<body>
<p style="font-weight: bold" th:text="${person.getName() +', '+ person.getBirthYear()}">VALUE</p>
<p  th:if="${books.size() == 0}">
    Человек пока не взял ни одной книги
</p>
<p  th:if="${books.size() != 0}">
    Книги:
    <br/>
    <ul>
        <li th:each="book : ${books}" th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getPublication()}"></li>
    </ul>
</p>
<hr />
<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Изменить</a>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Удалить">
</form>
</body>
</html>