<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Книга</title>
</head>
<body>
<p style="font-weight: bold" th:text="${book.getName() +', '+ book.getAuthor() +', '+book.getPublication()}">VALUE</p>

<form th:action="@{/books/checkout}" th:method="PATCH" th:if="${book.getPersonId() == null}" th:object="${book}">
    <p>Эта книга свободна. Кому назначить ее?</p>
    <label for="book_person" >Выберите человека</label>
    <select th:field="*{personId}" id="book_person">
        <option th:each="person : ${people}" th:value="${person.getId()}" th:text="${person.getName()}"></option>
    </select>
    <input type="hidden"  th:field="*{id}" />
    <input type="submit" name="Назначить книгу" value="Назначить книгу">
</form>
<form th:action="@{/books/checkin}" th:method="PATCH" th:if="${book.getPersonId() != null}" th:object="${book}">
    <p th:text="${'Книга сейчас у: ' + book.getPersonName()}">Книга сейчас у ...</p>
    <input type="hidden"  th:field="*{id}" />
    <input type="submit" name="Освободить книгу" value="Освободить книгу">
</form>
<hr>
<a th:href="@{/books/{id}/edit(id=${book.getId()})}">Редактировать</a>
<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Удалить">
</form>
</body>
</html>